<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickMon.Properties.Settings>
            <setting name="LastMonitorPack" serializeAs="String">
                <value />
            </setting>
            <setting name="PollFrequency" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MainFormSnap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DisablePollingOnError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConcurrencyLevel" serializeAs="String">
                <value>1</value>
            </setting>
        </QuickMon.Properties.Settings>
    </userSettings>
</configuration>