<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="QuickMon 3" Language="1033" Version="3.21.0811.2014" Manufacturer="Hen IT" UpgradeCode="59162023-5478-4668-A278-41c930000000">
    <Package Id='*' Keywords='Installer' Description="QuickMon 3 Installer" Comments='QuickMon 3 is a simple monitoring and alerting tool' 
       Manufacturer='Hen IT' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' Platform="x64" />

    <Feature Id="ProductFeature" Title="QuickMon 3" Level="1" Description="QuickMon 3" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id='ProductComponent' />
      <ComponentRef Id='QuickMonConfigFiles' />
      <ComponentRef Id='readmetxt' />      
      <ComponentRef Id='presets' />
      <ComponentRef Id='ProgramMenuDir' />
      <Feature Id="ExamplePacksFeature" Title="Example monitor packs" Level="2" Description="Example monitor packs" Display="expand" ConfigurableDirectory="SAMPLEPACKSDIRECTORY" TypicalDefault="advertise">
        <ComponentRef Id='sampleFiles' />
      </Feature>
      <Feature Id="ExtraAgentsFeature" Title="Extra Agents" Level="2" Description="Extra Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
        <Feature Id="BizTalkAgentsFeature" Title="BizTalk Agents" Level="3" Description="BizTalk Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='bizTalkAgents' />
        </Feature>
        <Feature Id="DirectoryServicesAgentsFeature" Title="Directory Services Agents" Level="3" Description="Directory Services Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='directoryServicesAgents' />
        </Feature>        
        <Feature Id="IISAgentsFeature" Title="IIS Agents" Level="3" Description="IIS Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='iisAgents' />
        </Feature>
        <Feature Id="OLEDBAgentsFeature" Title="OLEDb Agents" Level="3" Description="OLEDb Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='oledbAgents' />
        </Feature>
        <Feature Id="PowerShellAgentsFeature" Title="PowerShell Agents" Level="3" Description="PowerShell Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='powerShellAgents' />
        </Feature>
        <Feature Id="MSSQLAgentsFeature" Title="MSSQL Agents" Level="3" Description="MSSQL Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='mssqlAgents' />
        </Feature>
        <Feature Id="WebServiceAgentsFeature" Title="Web Service Agents" Level="3" Description="Web Service Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='webServiceAgents' />
        </Feature>
      </Feature>     
    </Feature>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." /> 

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLLOCATIONCOMP" Name="Hen IT">
          <Directory Id="INSTALLLOCATION" Name="QuickMon 3">
            <Component Id="ProductComponent" Guid="59162023-5478-4668-A278-41ca30000000" Win64="yes" >
              <File Id="QuickMonEXE" Name="QuickMon.exe" Source="QuickMon.exe" KeyPath="yes" ProcessorArchitecture='x64' >
                <Shortcut Id="startmenuQuickMon3" Directory="ProgramMenuDir" Name="QuickMon 3" WorkingDirectory="INSTALLDIR" Icon="QuickMon.exe" IconIndex="0" Advertise="yes" />
              </File>
              <ProgId Id="QuickMon3" Advertise="yes" Icon='QuickMon.exe'>
                <Extension Id="qmconfig" Advertise="yes" ContentType="application/text">
                  <Verb Id="open" Sequence="10" Command="Open"  Argument="&quot;%1&quot;" />
                </Extension>
                <Extension Id="qmp" Advertise="yes" ContentType="application/text" />
              </ProgId>
              <File Id="QuickMonRemoteHostCMDEXE" Name="QuickMonRemoteHostCMD.exe" Source="QuickMonRemoteHostCMD.exe" KeyPath="no" />
              <File Id="QuickMonServiceEXE" Name="QuickMonService.exe" Source="QuickMonService.exe" KeyPath="no" />              
              <File Id="FastColoredTextBoxDll" Name="FastColoredTextBox.dll" Source="FastColoredTextBox.dll" KeyPath="no" />
              <File Id="QuickMonCommonAgentsDll" Name="QuickMonCommonAgents.dll" Source="QuickMonCommonAgents.dll" KeyPath="no" />
              <File Id="QuickMonAudioNotifierDll" Name="QuickMonAudioNotifier.dll" Source="QuickMonAudioNotifier.dll" KeyPath="no" />
              <File Id="QuickMonCoreDll" Name="QuickMonCore.dll" Source="QuickMonCore.dll" KeyPath="no" />
              <File Id="QuickMonCoreUIDll" Name="QuickMonCoreUI.dll" Source="QuickMonCoreUI.dll" KeyPath="no" />
              <File Id="MonitorPackListtxt" Name="MonitorPackListExample.txt" Source="MonitorPackListExample.txt" KeyPath="no" />
            </Component>
            <Component Id="QuickMonConfigFiles" Guid="59162023-5478-4668-5C08-41ca30000000" NeverOverwrite="yes" Win64="yes">
              <File Id="QuickMonEXEConfig" Name="QuickMon.exe.config" Source="QuickMon.exe.config" KeyPath="no" />
              <File Id="QuickMonServiceEXEConfig" Name="QuickMonService.exe.config" Source="QuickMonService.exe.config" KeyPath="no" />
              <File Id="QuickMonRemoteHostCMDEXEConfig" Name="QuickMonRemoteHostCMD.exe.config" Source="QuickMonRemoteHostCMD.exe.config" KeyPath="no" />
            </Component>
            <Component Id="readmetxt" Guid="59162023-5478-4668-A278-41cc30000000" Win64="yes">
                <File Id="readme.txt" Source="readme.txt" KeyPath="yes">
                  <Shortcut Id="startmenuQuickMon3readme" Directory="ProgramMenuDir" Name="QuickMon 3 read me" WorkingDirectory="INSTALLDIR" Advertise="yes" />
                </File>
            </Component>            
            <Component Id="bizTalkAgents" Guid="59162023-5478-4668-A278-41cc3b124a14" Win64="yes">
                <File Id="QuickMonBizTalkAgents.dll" Source="QuickMonBizTalkAgents.dll"  KeyPath="no" />                
            </Component>
            <Component Id="directoryServicesAgents" Guid="59162023-5478-4668-A278-41cc3d14ec10" Win64="yes">
                <File Id="QuickMonDirectoryServicesAgents.dll" Source="QuickMonDirectoryServicesAgents.dll"  KeyPath="no" />                
            </Component>
            <Component Id="iisAgents" Guid="59162023-5478-4668-A278-41cc31150000" Win64="yes">
                <File Id="QuickMonIISAgents.dll" Source="QuickMonIISAgents.dll"  KeyPath="no" />                
            </Component>
            <Component Id="oledbAgents" Guid="59162023-5478-4668-A278-41cc301edb00" Win64="yes">
                <File Id="QuickMonOLEDBAgents.dll" Source="QuickMonOLEDBAgents.dll"  KeyPath="no" />                
            </Component>
            <Component Id="powerShellAgents" Guid="59162023-5478-4668-A278-41cc390Ee400" Win64="yes">
                <File Id="QuickMonPowerShellAgents.dll" Source="QuickMonPowerShellAgents.dll"  KeyPath="no" />
                <File Id="System.Management.Automation.dll" Source="System.Management.Automation.dll"  KeyPath="no" />
            </Component>
            <Component Id="mssqlAgents" Guid="59162023-5478-4668-A278-41cc33556100" Win64="yes">
                <File Id="QuickMonSQLAgents.dll" Source="QuickMonSQLAgents.dll"  KeyPath="no" />                
            </Component>
            <Component Id="webServiceAgents" Guid="59162023-5478-4668-A278-41cc33556101" Win64="yes">
                <File Id="QuickMonWebServiceAgents.dll" Source="QuickMonWebServiceAgents.dll"  KeyPath="no" />                
            </Component>
            
            <Directory Id="SAMPLEPACKSDIRECTORY" Name="SamplePacks">              
              <Component Id="sampleFiles" Guid="59162023-5478-4668-A278-41cd30000000" Win64="yes" KeyPath="yes">
                <File Id="LocalSystemHealthPack" Source="LocalSystemHealth.qmp" KeyPath="no">
                </File>
                <File Id="QuickMon3_13checkPack" Source="QuickMon 3.13 or later check.qmp" KeyPath="no">
                </File>                
              </Component>
            </Directory>
            
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataComp" Name="Hen IT">
          <Directory Id="CommonAppDataQM3" Name="QuickMon 3">
             <Component Id="presets" Guid="59162023-5478-4668-A278-41cc40000000">
              <File Id="QuickMon3Templates" Source="Presets\QuickMon3Templates.qps" KeyPath="no" />
             </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="QuickMon 3">
          <Component Id="ProgramMenuDir" Guid="59162023-5478-4668-A278-41cb30000000">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Hen IT\QuickMon 3' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="QuickMon.exe" SourceFile="QuickMon.exe" />
    <Property Id="ARPPRODUCTICON" Value="QuickMon.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This setup requires the .NET Framework 4.0 to be installed.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <UI>
      <UIRef Id="WixUI_InstallDir" />      

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>     

      <!-- Show Launch app checkbox -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch QuickMon 3" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Installation is complete. Please remember to check https://quickmon.codeplex.com for additional Collector packs." />
    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#QuickMonEXE]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="InstallBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="DialogBkground.bmp" />    
  </Product>
</Wix>
