<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="QuickMon5.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <QuickMon.Properties.Settings>
            <setting name="ShowMenuOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MainFormSnap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConcurrencyLevel" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PollFrequencySec" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainWindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AutosaveChanges" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverridesMonitorPackFrequency" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateBackupOnSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationMasterKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationUserNameCacheFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastMonitorPack" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableAutoAdminMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentQMConfigFileFilters" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="ShowFullPathForQuickRecentist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTemplatesForNewObjects" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowTreeViewExtraColumnSize" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MainWindowTreeViewExtraColumnTextAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableAutoRefreshCollectorDetailAutomatically"
                serializeAs="String">
                <value>False</value>
            </setting>
        </QuickMon.Properties.Settings>
        <QuickMon5.Properties.Settings>
            <setting name="ShowMenuOnStart" serializeAs="String">
                <value>True</value>
            </setting>
        </QuickMon5.Properties.Settings>
    </userSettings>
</configuration>