<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QuickMon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <QuickMon.Properties.Settings>
            <setting name="MonitorPackPath" serializeAs="String">
                <value>Specify a valid path to a QuickMon config file here e.g. QuickMonService.qmconfig</value>
            </setting>
            <setting name="PollingFreqSec" serializeAs="String">
                <value>60</value>
            </setting>
        </QuickMon.Properties.Settings>
    </userSettings>
</configuration>