<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="QuickMon 5" Language="1033" Version="5.3.28.0115" Manufacturer="Hen IT" UpgradeCode="59162023-5478-4668-A279-41c950000000">
    <Package Id='*' Keywords='Installer' Description="QuickMon 5 Installer" Comments='QuickMon 5 is a simple monitoring and alerting tool' 
       Manufacturer='Hen IT' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Feature Id="ProductFeature" Title="QuickMon 5" Level="1" Description="QuickMon 5" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id='ProductComponent' />
      <ComponentRef Id='QuickMonConfigFiles' />
      <ComponentRef Id='readmetxt' />
      <ComponentRef Id='firstTimeOnly' />
      <ComponentRef Id='ExampleFiles' />
      <ComponentRef Id='ProgramMenuDir' />  
      <ComponentRef Id='CommonAppDataScriptFiles' /> 
    </Feature>    

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." /> 

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATIONCOMP" Name="Hen IT">
          <Directory Id="INSTALLLOCATION" Name="QuickMon 5">
            <Component Id="ProductComponent" Guid="59162023-5478-4668-A279-41ca40000000">
              <File Id="QuickMonEXE" Name="QuickMon.exe" Source="QuickMon.exe" KeyPath="yes">
                <Shortcut Id="startmenuQuickMon5" Directory="ProgramMenuDir" Name="QuickMon 5" WorkingDirectory="INSTALLDIR" Icon="QuickMon.exe" IconIndex="0" Advertise="yes" />
              </File>
              <ProgId Id="QuickMon5" Advertise="yes" Icon='QuickMon.exe'>
                <Extension Id="qmp" Advertise="yes" ContentType="application/text">
                  <Verb Id="open" Sequence="10" Command="Open"  Argument="&quot;%1&quot;" />
                </Extension>
              </ProgId>              
              <File Id="QuickMonRemoteHostCMDEXE" Name="QuickMonRemoteHostCMD.exe" Source="QuickMonRemoteHostCMD.exe" KeyPath="no" />
              <File Id="QuickMonServiceEXE" Name="QuickMonService.exe" Source="QuickMonService.exe" KeyPath="no" />
              <File Id="FastColoredTextBoxDll" Name="FastColoredTextBox.dll" Source="FastColoredTextBox.dll" KeyPath="no" />
              <File Id="QuickMonCoreDll" Name="QuickMonCore.dll" Source="QuickMonCore.dll" KeyPath="no" />
              <File Id="QuickMonCoreUIDll" Name="QuickMonCoreUI.dll" Source="QuickMonCoreUI.dll" KeyPath="no" />
              <File Id="System.Management.Automation.dll" Source="System.Management.Automation.dll"  KeyPath="no" />
              <File Id="Renci.SshNet.dll" Source="Renci.SshNet.dll"  KeyPath="no" />
              <File Id="Microsoft.WindowsAPICodePack.dll" Source="Microsoft.WindowsAPICodePack.dll"  KeyPath="no" />
              <File Id="Microsoft.WindowsAPICodePack.Shell.dll" Source="Microsoft.WindowsAPICodePack.Shell.dll"  KeyPath="no" />
            </Component>
            <Component Id="QuickMonConfigFiles" Guid="59162023-5478-4668-5D08-41ca40000000" NeverOverwrite="yes" Permanent="yes">
              <File Id="QuickMonEXEConfig" Name="QuickMon.exe.config" Source="QuickMon.exe.config" KeyPath="no" />
              <File Id="QuickMonServiceEXEConfig" Name="QuickMonService.exe.config" Source="QuickMonService.exe.config" KeyPath="no" />
              <File Id="QuickMonRemoteHostCMDEXEConfig" Name="QuickMonRemoteHostCMD.exe.config" Source="QuickMonRemoteHostCMD.exe.config" KeyPath="no" />
            </Component>
            <Component Id="readmetxt" Guid="59162023-5478-4668-A279-41cc41000000">
                <File Id="readme.txt" Source="readme.txt" KeyPath="yes">
                  <Shortcut Id="startmenuQuickMon5readme" Directory="ProgramMenuDir" Name="QuickMon 5 read me" WorkingDirectory="INSTALLDIR" Advertise="yes" />
                </File>
            </Component>
            <Component Id="firstTimeOnly" Guid="59162023-5478-4668-5D08-41ca4f145100" NeverOverwrite="yes" Permanent="yes">
              <File Id="MonitorPackListtxt" Name="MonitorPackList.txt" Source="MonitorPackList.txt" KeyPath="no" />
            </Component>     
            <Component Id="ExampleFiles" Guid="59162023-5478-4668-5D08-41ca4f14510e">
              <File Id="QuickMon5Installqmp" Name="QuickMon 5 Install.qmp" Source="QuickMon 5 Install.qmp" KeyPath="no" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataComp" Name="Hen IT">
          <Directory Id="CommonAppDataQM5" Name="QuickMon 5">   
			<Directory Id="CommonAppDataQM5Scripts" Name="Scripts">
			  <Component Id="CommonAppDataScriptFiles" Guid="59162023-5478-4668-5D08-41ca4f14510f">
                <File Id="GetFileVersionps1" Name="GetFileVersion.ps1" Source="scripts\GetFileVersion.ps1" KeyPath="no" />
              </Component>
			</Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="QuickMon 5">
          <Component Id="ProgramMenuDir" Guid="59162023-5478-4668-A279-42cb30000000">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Hen IT\QuickMon 5' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="QuickMon.exe" SourceFile="QuickMon.exe" />
    <Property Id="ARPPRODUCTICON" Value="QuickMon.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <PropertyRef Id="NETFRAMEWORK45"/>
    <Condition Message="This setup requires the .NET Framework 4.5.2 to be installed.">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>

    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <!--
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>     
      -->
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>

      <!-- Show Launch app checkbox -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch QuickMon 5" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Installation is complete." />
    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#QuickMonEXE]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="InstallBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="DialogBkground.bmp" />
  </Product>
</Wix>
