<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="QuickMon 4" Language="1033" Version="4.3.4.0613" Manufacturer="Hen IT" UpgradeCode="59162023-5478-4668-A278-41c940000000">
    <Package Id='*' Keywords='Installer' Description="QuickMon 4 Installer" Comments='QuickMon 4 is a simple monitoring and alerting tool' 
       Manufacturer='Hen IT' InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' />

    <Feature Id="ProductFeature" Title="QuickMon 4" Level="1" Description="QuickMon 4" Display="expand" ConfigurableDirectory="INSTALLLOCATION">
      <ComponentRef Id='ProductComponent' />
      <ComponentRef Id='QuickMonConfigFiles' />
      <ComponentRef Id='readmetxt' />
      <ComponentRef Id='templates' />
      <ComponentRef Id='ProgramMenuDir' />
      <Feature Id="ExtraAgentsFeature" Title="Extra Agents" Level="2" Description="Extra Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
        <Feature Id="BizTalkAgentsFeature" Title="BizTalk Agents" Level="3" Description="BizTalk Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='bizTalkAgents' />
        </Feature>
        <Feature Id="DirectoryServicesAgentsFeature" Title="Directory Services Agents" Level="3" Description="Directory Services Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='directoryServicesAgents' />
        </Feature>
        <Feature Id="PowerShellAgentsFeature" Title="PowerShell Agents" Level="3" Description="PowerShell Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='powerShellAgents' />
        </Feature>
        <Feature Id="DatabaseAgentsFeature" Title="Database Agents" Level="3" Description="Database Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='databaseAgents' />
        </Feature>
        <Feature Id="WebServiceAgentsFeature" Title="Web Service Agents" Level="3" Description="Web Service Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
          <ComponentRef Id='webServiceAgents' />
        </Feature>
      </Feature>
      <Feature Id="LinuxAgentsFeature" Title="Linux Agents" Level="2" Description="Linux Agents" Display="collapse" ConfigurableDirectory="INSTALLLOCATION">
		<ComponentRef Id='linuxAgents' />
      </Feature>
    </Feature>

    <MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A later version of [ProductName] is already installed. Setup will now exit." /> 

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATIONCOMP" Name="Hen IT">
          <Directory Id="INSTALLLOCATION" Name="QuickMon 4">
            <Component Id="ProductComponent" Guid="59162023-5478-4668-A278-41ca40000000">
              <File Id="QuickMonEXE" Name="QuickMon.exe" Source="QuickMon.exe" KeyPath="yes">
                <Shortcut Id="startmenuQuickMon4" Directory="ProgramMenuDir" Name="QuickMon 4" WorkingDirectory="INSTALLDIR" Icon="QuickMon.exe" IconIndex="0" Advertise="yes" />
              </File>
              <ProgId Id="QuickMon4" Advertise="yes" Icon='QuickMon.exe'>
                <Extension Id="qmp4" Advertise="yes" ContentType="application/text">
                  <Verb Id="open" Sequence="10" Command="Open"  Argument="&quot;%1&quot;" />
                </Extension>
              </ProgId>              
              <File Id="QuickMonRemoteHostCMDEXE" Name="QuickMonRemoteHostCMD.exe" Source="QuickMonRemoteHostCMD.exe" KeyPath="no" />
              <File Id="QuickMonServiceEXE" Name="QuickMonService.exe" Source="QuickMonService.exe" KeyPath="no" />
              <File Id="FastColoredTextBoxDll" Name="FastColoredTextBox.dll" Source="FastColoredTextBox.dll" KeyPath="no" />
              <File Id="QuickMonCommonAgentsDll" Name="QuickMonCommonAgents.dll" Source="QuickMonCommonAgents.dll" KeyPath="no" />
              <File Id="QuickMonCoreDll" Name="QuickMonCore.dll" Source="QuickMonCore.dll" KeyPath="no" />
              <File Id="QuickMonUICoreForWinForms" Name="QuickMonUICoreForWinForms.dll" Source="QuickMonUICoreForWinForms.dll" KeyPath="no" />              
              <File Id="MonitorPackListtxt" Name="MonitorPackListExample.txt" Source="MonitorPackListExample.txt" KeyPath="no" />              
            </Component>
            <Component Id="QuickMonConfigFiles" Guid="59162023-5478-4668-5C08-41ca40000000" NeverOverwrite="yes" Permanent="yes">
              <File Id="QuickMonEXEConfig" Name="QuickMon.exe.config" Source="QuickMon.exe.config" KeyPath="no" />
              <File Id="QuickMonServiceEXEConfig" Name="QuickMonService.exe.config" Source="QuickMonService.exe.config" KeyPath="no" />
              <File Id="QuickMonRemoteHostCMDEXEConfig" Name="QuickMonRemoteHostCMD.exe.config" Source="QuickMonRemoteHostCMD.exe.config" KeyPath="no" />
            </Component>
            <Component Id="readmetxt" Guid="59162023-5478-4668-A278-41cc41000000">
                <File Id="readme.txt" Source="readme.txt" KeyPath="yes">
                  <Shortcut Id="startmenuQuickMon4readme" Directory="ProgramMenuDir" Name="QuickMon 4 read me" WorkingDirectory="INSTALLDIR" Advertise="yes" />
                </File>
            </Component>            
            <Component Id="bizTalkAgents" Guid="59162023-5478-4668-A278-42cc3b124a14">
                <File Id="QuickMonBizTalkAgents.dll" Source="QuickMonBizTalkAgents.dll"  KeyPath="no" />                
                <File Id="QuickMonBizTalkUIForWinForms.dll" Source="QuickMonBizTalkUIForWinForms.dll"  KeyPath="no" />                
            </Component>
            <Component Id="directoryServicesAgents" Guid="59162023-5478-4668-A278-42cc3d14ec10">
                <File Id="QuickMonDirectoryServicesAgents.dll" Source="QuickMonDirectoryServicesAgents.dll"  KeyPath="no" />                
                <File Id="QuickMonDirectoryServicesUIForWinForms.dll" Source="QuickMonDirectoryServicesUIForWinForms.dll"  KeyPath="no" />                
            </Component>            
            <Component Id="powerShellAgents" Guid="59162023-5478-4668-A278-42cc390Ee400">
                <File Id="QuickMonPowerShellAgents.dll" Source="QuickMonPowerShellAgents.dll"  KeyPath="no" />
                <File Id="QuickMonPowerShellUIForWinForms.dll" Source="QuickMonPowerShellUIForWinForms.dll"  KeyPath="no" />
                <File Id="System.Management.Automation.dll" Source="System.Management.Automation.dll"  KeyPath="no" />
            </Component>
            <Component Id="databaseAgents" Guid="59162023-5478-4668-A278-42cc33556100">
                <File Id="QuickMonDBAgents.dll" Source="QuickMonDBAgents.dll"  KeyPath="no" />                
                <File Id="QuickMonDBUIForWinForms.dll" Source="QuickMonDBUIForWinForms.dll"  KeyPath="no" />                
            </Component>
            <Component Id="webServiceAgents" Guid="59162023-5478-4668-A278-42cc33556101">
                <File Id="QuickMonWebServiceAgents.dll" Source="QuickMonWebServiceAgents.dll"  KeyPath="no" />                
                <File Id="QuickMonWSUIForWinForms.dll" Source="QuickMonWSUIForWinForms.dll"  KeyPath="no" />
            </Component>
            <Component Id="linuxAgents" Guid="59162023-5478-4668-A278-42cc33556102">
				<File Id="QuickMonLinuxAgents.dll" Source="QuickMonLinuxAgents.dll"  KeyPath="no" />
                <File Id="QuickMonLinuxAgentUIForWinForms.dll" Source="QuickMonLinuxAgentUIForWinForms.dll"  KeyPath="no" />
                <File Id="Renci.SshNet.dll" Source="Renci.SshNet.dll"  KeyPath="no" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="CommonAppDataFolder">
        <Directory Id="CommonAppDataComp" Name="Hen IT">
          <Directory Id="CommonAppDataQM4" Name="QuickMon 4">
             <Component Id="templates" Guid="59162023-5478-4668-A278-42cc40000000">
              <File Id="QuickMon4Templates" Source="Templates\QuickMon4Templates.qmtemplate" KeyPath="no" />              
             </Component>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="QuickMon 4">
          <Component Id="ProgramMenuDir" Guid="59162023-5478-4668-A278-42cb30000000">
            <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
            <RegistryValue Root='HKCU' Key='Software\Hen IT\QuickMon 4' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <Icon Id="QuickMon.exe" SourceFile="QuickMon.exe" />
    <Property Id="ARPPRODUCTICON" Value="QuickMon.exe" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" ></Property>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    <Condition Message="This setup requires the .NET Framework 4.0 to be installed.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <UI>
      <UIRef Id="WixUI_InstallDir" />

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">1</Publish>
      <Publish Dialog="CustomizeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg" Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="CustomizeDlg" Order="2">1</Publish>     

      <!-- Show Launch app checkbox -->
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch QuickMon 4" />
    <Property Id="WIXUI_EXITDIALOGOPTIONALTEXT" Value="Installation is complete. Please remember to check https://quickmon.codeplex.com for additional Collector packs." />
    <!-- Step 3: Include the custom action -->
    <Property Id="WixShellExecTarget" Value="[#QuickMonEXE]" />
    <CustomAction Id="LaunchApplication"
        BinaryKey="WixCA"
        DllEntry="WixShellExec"
        Impersonate="yes" />

    <WixVariable Id="WixUIBannerBmp" Value="InstallBanner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="DialogBkground.bmp" />
  </Product>
</Wix>
